<p class="menu-label">
  <%= t('.shortcuts') %>
</p>
<ul class="menu-list">
  <%= active_menu(new_customer_path, active, :new) do %>
    <%= fa_icon('plus-square-o') %>
    <%= t('.add_new_customer') %>
  <% end %>
</ul>
