<div class="card mower">
  <header class="card-header">
    <p class="card-header-title">
      <%= title %>
    </p>
  </header>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <ul>
          <% mowers.each do |mower| %>
            <li>
              <%= link_to(mower, edit_mower_path(mower)) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
