@import 'font-awesome';
@import 'bulma_customise';
@import 'bulma/bulma';
@import 'forms';
@import 'customer';
@import 'menu';
@import 'mowers';

.fa {
  font-size: inherit;
  margin-right: .1rem;
  vertical-align: middle;
}
